.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f1f1f1;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: #f9f9f9;
  }
  button {
    /* Add a left margin of 10px to the search button */
    margin-left: 10px;
  }  

  .pagination-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .pagination-button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .pagination-button:hover {
    background-color: #0056b3;
  }

  th {
    margin: 10px;
  }
  .next-button img {
    margin-left: 5px; /* Add some spacing between text and image */
  }

  .previous_button img{
    margin-right: 5px;
  }

  .highlight {
    background-color: yellow;
    font-weight: bold;
  }

  